/.bundle/
/coverage/
/pkg/
/playground/
/vendor/
/data/
/tmp/
/config/
/storage/
/log/

/.eslintcache
/.*ignore
/bin/port
/docs/logo.png
/*.lock
/LICENSE
/test.rb
/test.rbs
/test.haml


*.txt
*.gem
*.yml
*.erb
*.sql
*.sh
*.tt
*.png

Dockerfile
Procfile.dev
.ruby-version
.DS_Store
.keep
.env
.env.sample
.gitattributes
.browserslistrc
/.github/
